<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Arimo&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/gallery.css">
  <title>Hollywood Nail Salon</title>
</head>

<body>

    <div class="nav">
        <div class="nav2">
        <nav>
            <a href="/home">Home</a>
            <a href="/home/index/services ">Services</a>
            <a href="/branduse/index/brands">Brands</a>
        </nav>
        </div>
        <img src="../images/hollywood.jpg" width="300px" height="150px">
        <h1>266 Garfield Avenue, Cranston, Rhode Island 02920. Mon – Sat 10AM – 7PM, Sun 11PM – 5PM <a href="tel:401-383-7570">Phone: 401-383-7570</a></h1>
    </div>

    <h1>GALLERY</h1>

    <div class="gallery">
        <img src="../images/gallery/1.jpg" width=400px height=400px>
        <img src="../images/gallery/2.jpg"width=400px height=400px>
        <img src="../images/gallery/3.jpg"width=400px height=400px>
        <img src="../images/gallery/4.jpg"width=400px height=400px>
        <img src="../images/gallery/5.jpg"width=400px height=400px>
        <img src="../images/gallery/6.jpg"width=400px height=400px>
        <img src="../images/gallery/7.jpg"width=400px height=400px>
        <img src="../images/gallery/8.jpg"width=400px height=400px>
        <img src="../images/gallery/9.jpg"width=400px height=400px>
        <img src="../images/gallery/10.jpg"width=400px height=400px>
        <img src="../images/gallery/11.jpg"width=400px height=400px>
        <img src="../images/gallery/12.jpg"width=400px height=400px>
        <img src="../images/gallery/13.jpg"width=400px height=400px>
        <img src="../images/gallery/14.jpg"width=400px height=400px>
        <img src="../images/gallery/15.jpg"width=400px height=400px>
        <img src="../images/gallery/16.jpg"width=400px height=400px>
        <img src="../images/gallery/17.jpg"width=400px height=400px>
        <img src="../images/gallery/18.jpg"width=400px height=400px>
        <img src="../images/gallery/19.jpg"width=400px height=400px>
        <img src="../images/gallery/20.jpg"width=400px height=400px>
        <img src="../images/gallery/21.jpg"width=400px height=400px>
        <img src="../images/gallery/22.jpg"width=400px height=400px>
        <img src="../images/gallery/23.jpg"width=400px height=400px>
        <img src="../images/gallery/24.jpg"width=400px height=400px>
        <img src="../images/gallery/25.jpg"width=400px height=400px>
        <img src="../images/gallery/26.jpg"width=400px height=400px>
        <img src="../images/gallery/27.jpg"width=400px height=400px>
        <img src="../images/gallery/28.jpg"width=400px height=400px>
        <img src="../images/gallery/29.jpg"width=400px height=400px>
        <img src="../images/gallery/30.jpg"width=400px height=400px>
    </div>
  
    <div class="para">
        <p>Copyright ©2020 Hollywood Nails - Cranston, RI, All Rights Reserved</p>
        <p>Web Design: <a href="#">Phi Huynh</a></p>
    </div>









</body>
</html>