<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nail Salon</title>
</head>
<body>
    
    <a href="/home">Home</a>
    <a href="/branduse/index/brands">View</a>

    <form action="/branduse" method="POST">
        <input type="text" name="name" placeholder="Brand Name" />
        <input type="submit" name="" value="Submit" />
    </form>

    

<div class="brands">
        <ol>
            <% for(let i = 0; i < Brand.length; i++){ %>
            <li>
                <%= Brand[i].name; %>
                <form action="/branduse/brands/<%=Brand[i].id; %>?_method=DELETE" method="POST">
                    <input type="submit" value="DELETE"/>
                        </form>
                        <a href="/branduse/brands/<%=Brand[i].id; %>/edit">Edit</a>
                            </li>
                                <% } %>
                                    </ol>
                                        </div>

    
</body>
</html>