<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <h1>Service Show Page</h1>

<h3><%= Services.typeOfService %></h3>
<h3>$<%= Services.price %></h3>
  


  
</body>

</html>